{{page-title 'Dashboard'}}
<div class='min-h-screen flex flex-col'>
  <Header />
  <div
    class='py-7 grow bg-gradient-to-tr from-red-300 to-blue-400 flex justify-center items-center font-poppins text-black text-lg lg:text-2xl'
  >
    <div class='flex flex-col gap-y-4'>
      <div class='dashboard-element flex flex-col items-center gap-y-5'>
        <p class='font-medium'>Najdrożej sprzedany samochód</p>
        {{#if this.doUnactiveOffersExist}}
          <div class='text-base flex justify-between mt-5'>
            <p>{{this.carBrand}} {{this.carModel}}</p>
            <p>${{this.carPrice}}</p>
          </div>
        {{else}}
          <p class="text-lg">Brak sprzedanych samochodów</p>
        {{/if}}
      </div>
      <div class="dashboard-element flex justify-between items-center">
        <p class='font-medium'>Ilość otwartych aukcji</p>
        <span
          class='px-4 py-2 rounded-lg bg-gradient-to-tr from-red-300 to-blue-400 text-white text-base lg:text-lg'
        >{{this.numberOfActiveOffers}}</span>
      </div>
      <div
        class='dashboard-element text-base'
      >
        <p class='text-lg lg:text-2xl font-medium mb-5'>Ostatnia zakończona
          aukcja</p>
        <p>Data zakończenia: 30-06-2022</p>
        <p>Marka: Ford</p>
        <p>Model: Mustang GT</p>
        <p>Cena końcowa: $25,000</p>
      </div>
    </div>
  </div>
  <Footer />
</div>
{{outlet}}